.dark-mode {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

.dark-mode .card {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
}

.dark-mode select,
.dark-mode option,
.dark-mode input,
.dark-mode textarea {
    background-color: #2a2a2a;
    color: #ffffff;
}
